.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.771);
}

.modal {
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 4em;
    border-radius: 20px;
    
}