form{
    width: 35%;
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9D9E5;
    border-radius: 30px;
    height: min-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form h2{
    font-weight: 600;
    color: #2E4B6C;
    font-size: 25px;
}

.contentForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 5px 0;

}
.inputGroup label{
    color: #2E4B6C;
    font-size: 16px;
    font-weight: 500;
}

.inputGroup input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #B2B5B9;
    background-color: #EBF0F3;
    outline: 0;
    padding: 0 15px;
    font-size: 16px;
}

.inputGroup select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #B2B5B9;
    background-color: #EBF0F3;
    outline: 0;
    padding: 0 15px;
    font-size: 16px;
}

.actions{
    margin: 15px 0 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.actions a{
    color: #2E4B6C;
    font-size: 15px;

}
.actions button{
    background-color: #2E4B6C;
    border: 0;
    padding: 7px 17px;
    color: #EBF0F3;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 30px;
}

.error {
    color: red;
    font-size: 14px;
}

.inputError {
    border: 2px solid red !important;
}


@media screen and (max-width : 1000px) {
    form{
        width: 70%;
    }
}

@media screen and (max-width : 600px) {
    form{
        width: 85%;
        padding: 50px 15px;
    }
    .contentForm{
        width: 95%;
    }
}