* {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap');

:root {
    --text-upload-color: #7A5FEC;
    --text-primary: #575361;
    --text-secondary: #746E82;
    --bg-color: #FBFAFF;
    --bg-drag-file: #F3F0FF;
    --bg-card-upload: #FFFFFF;
    --bg-bar-progress: #E3E3ED;
    --color-border: #C1B2FA;
    --color-in-progress: #AC96E4;
    --color-finish-progress: #73B172;
    --color-failed-progress: #E36363;
}